aiosqlite==0.22.1
asgiref==3.11.1
asttokens==3.0.1
attrs==26.1.0
Automat==25.4.16
build==1.4.0
cbor2==5.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
comm==0.2.3
constantly==23.10.4
cryptography==46.0.7
debugpy==1.8.20
decorator==5.2.1
distlib==0.4.0
Django==6.0.3
django-environ==0.13.0
django-stubs==5.2.9
django-stubs-ext==5.2.9
executing==2.2.1
filelock==3.24.3
hatchling==1.29.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
installer==0.7.0
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.8.0
jupyter_core==5.9.1
linkify-it-py==2.1.0
markdown-it-py==4.0.0
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
msgpack==1.1.2
nest-asyncio==1.6.0
packaging==26.0
parso==0.8.5
pathspec==1.0.4
pexpect==4.9.0
pillow==12.1.1
platformdirs==4.5.1
pluggy==1.6.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.19.2
pyOpenSSL==26.0.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-mpv==1.0.8
pyzmq==27.1.0
requests==2.32.5
rich==14.3.3
service-identity==24.2.0
setuptools==82.0.0
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
textual==7.5.0
tornado==6.5.4
traitlets==5.14.3
trove-classifiers==2026.1.14.14
Twisted==25.5.0
txaio==25.12.2
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
uc-micro-py==2.0.0
ujson==5.12.0
urllib3==2.6.3
virtualenv==20.38.0
wcwidth==0.5.3
wheel==0.46.3
yt-dlp==2026.3.3
-e git+https://github.com/peternaame-boop/ytm-player.git@6b20a58ff23ba736ae761feaf974c2d198f7d7c3#egg=ytm_player
ytmusicapi==1.11.5
zope.interface==8.3
