body {
    font-family: sans-serif;
    background-color: white;
    margin: 0px;
}

.header{
    background-color: green;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 70px 1fr auto;
    align-items: center;
    padding: 10px 20px;
}

.header img{
    width: 70px;
}

.header_title {
    font-size: 1.8em;
    color: white;
    margin-left: 20px;
}


.head-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}


.head-nav > li {
    display: inline-block;
    margin-left: 20px;
}

.head-nav__item button {
    background-color: white;
    color: green;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.head-nav__item a {
            color: white;
            text-decoration: none;
            font-size: 1em;
            padding: 5px;
}

.head-nav__item a:hover {
    color: black;
}

.head-nav__item button:hover {
    background-color: #e0ffe0;
    color: black;
}

.head-nav__item a:active{
    color: grey;
}

.favoritos {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid lightgreen;
  border-radius: 10px;
  background-color: green;
}

.favoritos h3 {
  margin-bottom: 15px;
  text-align: left;
  color: black;
}

.tabla-favoritos {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.tabla-favoritos th,
.tabla-favoritos td {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.tabla-favoritos th {
  background-color: white ;
  color: black;
}